<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>StyleHub - Women Collection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="logo-area">
      <h1>StyleHub</h1>
      <p>Women Collection</p>
    </div>

    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/men">Men</a></li>
        <li><a href="/women">Women</a></li>
      </ul>
    </nav>

    <div class="cart-box">
      <a href="/cart" id="cart-count">Cart: {{ cart_count }}</a>
    </div>
  </header>

  <!-- Main -->
  <main>
    <section class="products-page">
      <h2>Women Products</h2>
      <p class="page-text">Browse our women's clothing collection.</p>

      <!-- Sort -->
      <div class="sort-section">
        <label for="women-sort">Sort by Price:</label>
        <select id="women-sort">
          <option value="low-high">Low to High</option>
          <option value="high-low">High to Low</option>
        </select>
      </div>

      <!-- Products (FROM DATABASE) -->
      <div class="product-container" id="women-products">
        {% for product in products %}
          <div class="product-card" data-price="{{ product[3] }}">

            <!-- Product Image -->
            <a href="/product/{{ product[0] }}">
              <img src="{{ url_for('static', filename='images/' ~ product[4]) }}" alt="{{ product[1] }}" />
            </a>

            <!-- Product Name -->
            <h3>
              <a href="/product/{{ product[0] }}">{{ product[1] }}</a>
            </h3>

            <!-- Price -->
              <p class="price">${{ product[3] }}</p>

{% if product[5] == 0 %}
  <p style="color:red;">Out of Stock</p>
{% elif product[5] == 1 %}
  <p style="color:orange;">Only 1 left</p>
{% else %}
  <p style="color:green;">In Stock</p>
{% endif %}         
            <!-- Category -->
            <p>Category: {{ product[2] }}</p>

            <!-- Add to Cart (CONNECTED TO BACKEND) -->
            {% if product.stock > 0 %}
    <a href="/add-to-cart/{{ product.id }}">Add to Cart</a>
{% else %}
    <button disabled>Out of Stock</button>
{% endif %}

          </div>
        {% endfor %}
      </div>

    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <h3>Contact Us</h3>
    <p>Email: support@stylehub.com</p>
    <p>Phone: +20 123 456 7890</p>
    <p>&copy; 2026 StyleHub. All rights reserved.</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
